<center>
  <table>
    <tr>
      <th>Game</th>
      <th>Duration</th>
      <th>Add Game</th>
    </tr>
    <div id='games-table'>
      <% @results.each do |game|%>
      <tr id="game-<%= game.name.parameterize %>">
        <td class='title'>
          <p><%= game.name %></p>
        </td>
        <td class='duration'>
          <p><%= game.duration %></p>
        </td>
        <td class='add-game'>
          <p><%= button_to "+", "/users/games/", params: {:name => game.name,
                                                          :description => game.description,
                                                          :duration => game.duration,
                                                          :image => game.image,
                                                          :game_type => game.game_type,
                                                          :age_range => game.age_range,
                                                          :num_players => game.num_players} %></p>
        </td>
      </tr>
      <% end%>
    </div>
  </table>
  <p> <%= link_to "Don't see your game? Add it!", "/games/new" %></p>
</center>