<center>
  <table>
    <tr>
      <th>Game</th>
      <th>Duration</th>
      <th>Add Game</th>
    </tr>
    <div id='games-table'>
      <% @results.each do |game|%>
      <tr id="game-<%= game.id %>">
        <td class='title'>
          <p><%= link_to "#{game.name}", "/games/#{game.id}" %></p>
        </td>
        <td class='duration'>
          <p><%= game.duration %></p>
        </td>
        <td class='add-game'>
          <p><%= button_to "+", "/users/games/#{game.id}" %></p>
        </td>
      </tr>
      <% end%>
    </div>
  </table>
  <p> <%= link_to "Don't see your game? Add it!", "/game/new" %></p>
</center>