<%= form_with url: '/game-nights', local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: params[:title] %><br><br>

  <%= f.label :date %>
  <%= f.date_field :date, min: Date.today, max: Date.today.next_year(4) %><br><br>

  <%= f.label :number_of_games %>
  <%= f.number_field :number_of_games, value: params[:number_of_games] %><br><br>

  <p>Add Friends: </p>
  <% if @friends.empty? %>
    <p>You have no friends. Please add some on your dashboard before you make a party. </p>
  <% else %>
    <%= f.collection_check_boxes :friends, @friends, :id, :name %>
  <% end %>
  <%= f.submit "Let's Play!" %>
<% end %>
